<!DOCTYPE html>
<html>

<head>
	<title>Searched Employee Information</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>

<body>
	<div class="topnav">
		<a class="home">Employee Management System</a>

		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
	</div>
	
	<center>
		<br><br><br>
		<h1>Employee Information</h1><br><br><br>
		<!-- <body bgcolor="lightgrey">
			<form>
				<p>Employee ID:<br> {{ id }} </p><br>
				<p>First Name:<br> {{ fname }} </p><br>
				<p>Last Name:<br> {{ lname }} </p><br>
				<p>Primary Interest:<br> {{ interest }} </p><br>
				<p>Location:<br> {{ location }} </p><br>
				<p>Image URL: <br> {{ image_url }} </p><br>
				<div style="padding-right: 45pt;">						
					<button class="reset-button" type="submit" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>
				</div>
			</form>
		</body> -->


		<table border="0" style="box-shadow:1px 1px 10px white" width="70%" height="70%" align="center">
			<tr>
				<td style="background-position:center center" valign="top" align="center">
					<table border="0" cellpadding="8px" width="100%" style="background-color:#CCCCCC">
						<tr style="background-color:navy;color:white">
							<td>Duty ID</td>
							<td>Employee ID</td>
							<td>Date</td>
							<td>Duration</td>
						</tr>
						{% for item in data %}
						<tr>
							<td>{{item[0]}}</td>
							<td>{{item[1]}}</td>
							<td>{{item[2]}}</td>
							<td>{{item[3]}}</td>
						</tr>
						{% endfor %}
					</table>

				</td>
			</tr>
		</table>
		
	</center><br><br><br><br>
	<form action="/toattendance" autocomplete="on" method = "GET">
		<button type="submit" >GO BACK TO ADD ATTENDANCE INFORMATION</button><br><br>
	</form>
</body>

</html>