<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database</a>

		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/toaddemp" autocomplete="on" method = "POST">
			<button type="submit">ADD EMPLOYEE</button>
		</form>
		<form action="/tofetchemp" autocomplete="on" method = "POST">
			<button type="submit">SEARCH EMPLOYEE</button>
		</form>
	</div>

	
	
	<center>
		<br><br><br><h1>EMPLOYEE ATTENDANCE</h1><br><br>
		
	</center>
	
	<div class="form-part"><br><br>
		
		<form action="/addattendance" autocomplete="on" method = "POST" enctype="multipart/form-data">
			Duty ID:<br> <input type="number" name="duty_id" autofocus size="40"><br><br>
			Employee ID:<br> <input type="number" name="emp_id"><br><br>
			Date:<br> <input type="date", " name="date"><br><br>
			Duration:<br> <input type="number", " name="duration">

			<button type="submit">UPDATE DATABASE</button>
		</form>
		<form action="/viewattendance" autocomplete="on" method = "POST"><br><br>
			<button type="submit">ATTENDANCE INFORMATION</button>
		</form>
	</div>
	
		
	
</body>

</html>
