<!DOCTYPE html>
<html>
<head>
	<title>Added Employee Information</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database</a>

		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
	</div>
	
	<center>
		<div bgcolor="lightgrey"><br><br><br>
			<h1>DUTY INFORMATION WAS SAVED SUCCESSFULLY</h1><br><br><br>
			<p style="color: grey;">The following employee's information has been deleted from the database</p><br><br>
			<p style="color: #333;">Employee ID: {{ id }}</p><br><br>
			<br><br><br>
		</div>
	</center>
</body>
</head>
</html>
