<!DOCTYPE html>
<html>
<head>
	<title>Edit Employee Information</title>
	<!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}"> -->
	<link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css">
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Management System</a>

		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
	</div>

	
	<center>
		<br><br><br><h1>EDIT EMPLOYEE INFORMATION</h1><br><br>
	</center>
	<div class="form-part"><br><br>
		
		<form action="/editemp" autocomplete="on" method = "POST" enctype="multipart/form-data">
			{% for item in data %}
			Employee ID:<br> <input type="hidden" name="emp_id" value='{{ item[0] }}'> {{ emp_id }}<br><br>
			First Name:<br> <input type="text" name="first_name" value='{{ item[1] }}'><br><br>
			Last Name:<br> <input type="text" name="last_name" value='{{ item[2] }}'><br><br>
			Primary Skills:<br> <input type="text" name="pri_skill" list="pri_skill" value='{{ item[3] }}'>
			<datalist id="pri_skill">
				<option value="Cloud Computing">
				<option value="R Programming">   
				<option value="C++ Programming">
				<option value="Java Programming">  
				<option value="Web Design">
				<option value="Python Programming">
				<option value="SQL">    
				<option value="Machine Learning">
			</datalist>
			<br><br>
			Location:<br> <input type="text" name="location" list="location" value = '{{ item[4] }}'>
			<datalist id="location">
				<option value="Johor">
				<option value="Kedah">  
				<option value="Kelantan">
				<option value="Kuala Lumpur">  
				<option value="Malacca">
				<option value="Negeri Sembilan">
				<option value="Pahang">    
				<option value="Penang"> 
				<option value="Perak">
				<option value="Perlis">    
				<option value="Sabah">
				<option value="Sarawak">
				<option value="Selangor">
			</datalist>
			<br><br>
			{% endfor %}
			<button type="submit">UPDATE DATABASE</button>
		</form>
	</div>
		
	
</body>

</html>
