<!DOCTYPE html>
<html>
<head>
	<title>Added Employee Information</title>
	<!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}"> -->
	<link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css">
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database Management System</a>
		<button type="submit" formaction="/getemp">GET EMPLOYEE INFORMATION</button>
	</div>

	<center>
		<div bgcolor="lightgrey"><br><br><br>
			<h1>Welcome To Employee Management System</h1><br><br><br>
			<br><br><br>
		</div>
	</center>

	<form action="/hometoaddemp" autocomplete="on" method = "POST">
		<button type="submit">ADD EMPLOYEE</button>
	</form>
</body>
</head>
</html>
