<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}"> -->
	<link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css">
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Management System</a>
		
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "GET">
			<button type="submit">EMPLOYEE INFORMATION</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
	</div>

	<center>
		<div bgcolor="lightgrey"><br><br><br>
			<h1>Welcome To Employee Management System</h1><br><br><br>
			
		</div>
		
		{% for image in contents %}
		<img src= {{ image }} style="width: 900px">
		{% endfor %}

		<div class="float-container" style="padding: 20px; width: 60%;">
			<div class="float-child" style="width: 50%; float: left; padding: 20px;">
				<p style="font-style: bold; font-weight: bold; font-size: xx-large; width: 60%; font-family: Tahoma, sans-serif;">Manage the entire recruiting cycle</p><br>
				<p style="font-style: normal; font-size: larger; font-family: Tahoma, sans-serif;">Onboard new employees in no-time and and ensure that they can be productive as soon as possible</p>
			</div>
			<div class="float-child" style="width: 50%; float: left; padding: 20px;">
				<p style="font-style: bold; font-weight: bold; font-size: xx-large; width: 60%; font-family: Tahoma, sans-serif;">Ensure satisfaction and development</p><br>
				<p style="font-style: normal; font-size: larger; font-family: Tahoma, sans-serif;">Use data to assess and track employee attendance and payroll at one stop</p>
			</div>
		</div>
	</center>

	
</body>
</head>
</html>
