<!DOCTYPE html>
<html>
<head>
	<title>Added Employee Information</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='EmpDatabase_layout.css') }}">
	<!-- <link rel= "stylesheet" type= "text/css" href="/static/EmpDatabase_layout.css"> -->
</head>
<body>
	<div class="topnav">
		<a class="home">Employee Database Management System</a>
		
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/getemp" autocomplete="on" method = "POST">
			<button type="submit">ALL EMPLOYEE INFORMATION</button>
		</form>
		<form action="/todeleteEmp" autocomplete="on" method = "POST">
			<button type="submit">DELETE EMPLOYEE</button>
		</form>
		<form action="/tosearcheditEmp" autocomplete="on" method = "GET">
			<button type="submit">EDIT EMPLOYEE</button>
		</form>
		<form action="/toaddemp" autocomplete="on" method = "POST">
			<button type="submit">ADD EMPLOYEE</button>
		</form>
		<form action="/tofetchemp" autocomplete="on" method = "POST">
			<button type="submit">SEARCH EMPLOYEE</button>
		</form>
		<form action="/tosearchbenefitemp" autocomplete="on" method = "POST">
			<button type="submit">BENEFIT EMPLOYEE</button>
		</form>
	</div>

	<center>
		<div bgcolor="lightgrey"><br><br><br>
			<h1>Manage Employee</h1><br><br><br>
			<br><br><br>
		</div>
	</center>

	
</body>
</head>
</html>
